doctype html

html(lang='en')
    head
        link(rel="stylesheet" href="./TodosUI.css")
        title Todos Route | Ryan James Website

    body
        header
            div(class="container")
                a Todo-List
            nav
                ul
                    li
                        a(href="/") Home
                        a(href="/About") About
                        a(href="/Contact") Contact

    div(class="wrapper")
        h1 Welcome to Todos Page

    div(class="contain")
        label
            input(placeholder="Enter Todo 1: ")
            <br/>
            <br/>
            <br/>
            input(placeholder="Enter Todo 2: ")

    button Click Me

