* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --flex: flex;
    --between: space-between;
    --centerY: center;
}

header {
    display: var(--flex);
    justify-content: var(--between);
    background-color: rgb(23, 90, 87);
    padding: 20px;
}

header > div a {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
}

header li {
    list-style-type: none;
}

header li a {
    padding: 20px;
    margin: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}

#COLOR {
    display: block;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 100;
    position: relative;
    top: calc(20px * 11);
}


.container {
    display: var(--flex);
    justify-content: var(--centerY);
}

.container > section p {
    font-size: 22px;
    font-weight: 100;
    text-transform: uppercase;
    font-family: sans-serif;
    position: relative;
    top: calc(20px * 10);
}

#buttonX {
    position: relative;
    top: calc(20px * 13);
    border: none;
    outline: none;
    background-color: rgb(10, 10, 10);
    color: rgb(255, 255, 255);
    padding: 10px;
}


@media screen and (max-width: 500px) {

    .container > section p {
        font-size: 20px;
        position: relative;
        top: calc(20px * 10);
    }

    #COLOR {
        display: block;
        font-size: 20px;
        margin-top: 20px;
        font-family: sans-serif;
        font-weight: 100;
        position: relative;
        top: calc(20px * 10);
    }

    #buttonX {
        position: relative;
        top: calc(20px * 12);
        padding: 10px;
        border: none;
        outline: none;
        background-color: rgb(10, 10, 10);
        color: rgb(255, 255, 255);
    }

}
