@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.header_one li a {
    color: light-dark(#3F704D, #0B6623);
}

header li a:nth-child(1) {
    font-weight: 900;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: rgb(20, 45, 65);
    color: #ccc;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

i {
    padding-right: 1.5rem;
}

header > div h1 {

    padding-left: 10px;
    font-size: 19px;
    text-transform: uppercase;
    color: light-dark(#3F704D, #0B6623);
    font-weight: 900;
    color-scheme: dark;
}

li {
    list-style: none;
}

#buttonLight, #buttonDark{
    padding: 10px;
}

#buttonLight {
    background-color: #ffffff;
    border: none;
    outline: none;
    color: #101010;
}

#buttonDark {
    background-color: #101010;
    border: none;
    outline: none;
    color: #ffffff;
}

header li a {

    padding: 19px;
    text-decoration: none;
    color: light-dark(#3F704D, #0B6623);
    font-weight: 600;
    color-scheme: light;

}

div > main h1 {
    font-size: 1.3rem;
    padding: 20px;
    position: relative;
    top: 200px;
    text-align: center;
    font-weight: 900;
}



div > main h1 > span {
    color: rgb(20, 20, 20);
    font-weight: 700;
}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main main h1 {
    color: light-dark(#0B6623, #3F704D);
    color-scheme: dark;
}


button:hover {
}
.wrapper button {
    padding: 9px;
    background-color: light-dark(#101010, #fff);
    color: #101010;
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
    width: 290px;
    border-radius: 25px;
    position: relative;
    top: 240px;
    cursor: pointer;
    border: none;
    outline: none;
    color-scheme: light dark;
}

.wrapper button:hover {

    background-color: light-dark(#101010, #fff);
    color: white;
    border: none;
    outline: none;
    color-scheme: light;
}

header ul li a{
    color: #ccc;
}

header ul li a:hover {
    color: light-dark(#0B6623, #3F704D);
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid #101010;
    color-scheme: dark;
}

@media screen and (max-width: 500px) {

    nav li a {
        font-size: 14px;
        padding: 10px;
    }

    header > div h1 {
        font-size: 1.0rem;
        font-weight: 900;
        font-family: sans-serif;

    }

}

@media screen and (max-width: 501px) {

    nav li a {
        font-size: 14px;
        padding: 10px;
    }

    header > div h1 {
        font-size: 1.0rem;
        font-weight: 900;
        font-family: sans-serif;

    }

}

@media screen and (max-width: 600px) {

    nav li a {
        font-size: 14px;
        padding: 10px;
    }

    header > div h1 {
        font-size: 1.0rem;
        font-weight: 900;
        font-family: sans-serif;

    }

}

@media screen and (max-width: 768px) {

    nav li a {
        font-size: 14px;
        padding: 10px;
    }

    header > div h1 {
        font-size: 1.0rem;
        font-weight: 900;
        font-family: sans-serif;

    }


}

@media screen and (max-width: 1200px) {

    nav li a {
        font-size: 14px;
        padding: 10px;
    }

    header > div h1 {
        font-size: 1.0rem;
        font-weight: 900;
        font-family: sans-serif;

    }

}